{{room | json}}

<form>
  <!--  Room properties-->
  <div class="form-group" style="width: 500px;">
    <input class="form-control" style="width: 500px;" type="text" name="roomName" [(ngModel)]="room.roomNumber"  placeholder="Room Name">
  </div>
  <div class="form-group"  style="width: 500px;">
    <input class="form-control" style="width: 500px;" type="text" name="roomType" [(ngModel)]="room.rootType" placeholder="Room Type">
  </div>
  <div class="form-group"  style="width: 500px;">
    <input class="form-control" style="width: 500px;" type="text" name="amenities" [(ngModel)]="room.amenities" placeholder="Amenities">
  </div>
  <div class="form-group"  style="width: 500px;">
    <input class="form-control" style="width: 500px;" type="number" name="price" [(ngModel)]="room.price" placeholder="Price">
  </div>
  <div class="form-group"  style="width: 500px;">
    <input class="form-control" style="width: 500px;" type="url" name="photos" [(ngModel)]="room.photos" placeholder="Photos URL">
  </div>
  <div class="form-group"  style="width: 500px;">
    <input class="form-control" style="width: 500px;" type="text" name="checkinTime" [(ngModel)]="room.checkinTime" placeholder="Check-in Time">
  </div>
  <div class="form-group"  style="width: 500px;">
    <input class="form-control" style="width: 500px;" type="text" name="checkoutTime" [(ngModel)]="room.checkoutTime" placeholder="Check-out Time">
  </div>
  <div class="form-group"  style="width: 500px;">
    <input class="form-control" style="width: 500px;" type="number" name="rating" [(ngModel)]="room.rating" placeholder="Rating">
  </div>
  <!--  Button-->
  <div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
</form>
