<p> Welcome to {{ hotelName }} </p>

<div style="width: 500px; height: 300px;">
  <img [ngSrc]="imageUrl" alt="Picture" width="500" height="300">
</div>

<button [disabled]="isLoading">Loadings...</button>

Number of Rooms:
<div [innerText]="numberOfRooms"></div>
<!--document.getElementById("numberOfRooms").innerText = numberOfRooms;-->

<button (click)="toggle()">Toggle</button>

<div *ngIf="rooms.availableRooms > 0">
<!--  selectRoom is the event name emitted by the child component hinv-rooms-list-->
  <hinv-rooms-list [rooms]="roomList" (selectedRoom)="selectRoom($event)"></hinv-rooms-list>
</div>
