<!--<p> Welcome to {{ hotelName }} </p>-->

<hinv-header #headerComponent></hinv-header>

<!--Read rooms stream data with async pipe and json filter-->
<!--and display it template.-->
<!--{{rooms$ | async | json}}-->

<div style="width: 500px; height: 300px;">
  <img [ngSrc]="imageUrl" alt="Picture" width="500" height="300">
</div>

<hr/>

<button [disabled]="isLoading">Loadings...</button>

<hr/>

Number of Rooms:
<div [innerText]="numberOfRooms"></div>
<!--document.getElementById("numberOfRooms").innerText = numberOfRooms;-->

<hr/>

<button (click)="toggle()">Toggle</button>

<hr/>

<div *ngIf="selectRoom">
  {{ selectedRoom | json }}
</div>

<hr/>

<div>
  <button (click)="addRoom()">Add Room</button>
</div>

<hr/>

<h1>
  {{getError$ | async}}
</h1>>

<div *ngIf="rooms$ | async as rooms">
  <!--  selectRoom is the event name emitted by the child component hinv-rooms-list-->
<!--  <hinv-rooms-list [rooms]="roomList" (selectedRoom)="selectRoom($event)"></hinv-rooms-list>-->
  <hinv-rooms-list [rooms]="rooms" (selectedRoom)="selectRoom($event)"></hinv-rooms-list>
</div>

<button (click)="editRoom()">Edit Room</button>

<button (click)="deleteRoom()">Delete Room</button>
