<!--<h1> Hotel Inventory App </h1>-->

<!--<div [ngSwitch]="loginTypes">-->
<!--  <div *ngSwitchCase="'Admin'">-->
<!--    <hinv-rooms></hinv-rooms>-->
<!--  </div>-->

<!--</div>-->

<!--Dynamically load the rooms component-->
<!--<div>-->
<!--  <ng-template #user></ng-template>-->
<!--</div>-->

<!--<hinv-container>-->
<!--  <hinv-rooms></hinv-rooms>-->
<!--  <h1> This is from ng-content </h1>-->
<!--  <hinv-employee></hinv-employee>-->
<!--</hinv-container>-->

<!--<mat-slide-toggle>Toggle me!</mat-slide-toggle>-->

<!--<a [routerLink]="'rooms'">Rooms</a>-->
<!--<br>-->
<!--<a [routerLink]="'employee'">Employee</a>-->
<!--<router-outlet></router-outlet>-->

<hinv-app-nav></hinv-app-nav>
